html,body{font-family:Arial,sans-serif;
            background-color: #276745;
}
header{
    background-color:#276745;
    padding: 15 15px;
    margin: 15 15px;
    text-align: center;
}
h1{
    font-size: 90px;
    color: rgb(21, 214, 53);

}
header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid #82AF93;
}
.content{
    max-width: 900px;
    margin:0 auto;
    padding:0 20px;
}
img.big-image{
    max-width: 1000px;
    margin: 5 5px;

}
p.caption{
    font-size: 24px;
    color: rgb(0, 255, 255);
    font-family: 'Arbutus', serif;
    font-family: 'Noto Sans JP'sans-serif;
    text-align: center;
    
}
ol{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP';
} 
.text{ font-size: 24px;
    color: rgb(0, 255, 255);
    font-family: 'Arbutus', serif;
    font-family: 'Noto Sans JP'sans-serif;
    text-align: center;
    

}  
a{
    color:#9397a4;
    text-decoration: none;
}
.round-container{
	border-radius: 174px;
	max-width: 250px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
}